################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeekQuiz/bin
/GeekQuiz/obj/Debug
/packages
